<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>org.example.servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>org.example.servlets.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>org.example.servlets.MessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChatsServlet</servlet-name>
        <servlet-class>org.example.servlets.ChatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatsServlet</servlet-name>
        <url-pattern>/chats</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>org.example.servlets.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>signIn.jsp</welcome-file>
    </welcome-file-list>
</web-app>
